Build
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Geometry/Meshes/Can.fbx
Content/Geometry/Boss/SM_finalbossArmBottom.fbx
Content/Geometry/Boss/SM_finalbossArmTop.fbx
Content/Geometry/Boss/SM_finalbossBrain.fbx
