Build
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Geometry/Meshes/Can.fbx
Content/UI/UI_fulmetallHead.png
Content/UI/UI_killHead.png
